In [11]:
import os
import json
import pandas as pd

In [12]:
# Aggregated Transaction

path1 = '/Users/prasanth/Desktop/ds_projects/Phonepe/pulse/data/aggregated/transaction/country/india/state/'
agg_trans_list = os.listdir(path1)

columns1={"States":[],"Years":[],"Quarter":[],"Transaction_type":[],"Transaction_count":[],"Transaction_amount":[]}

for state in agg_trans_list:
    cur_state = os.path.join(path1, state)
    if not os.path.isdir(cur_state):  # Check if it's a directory
        continue
    agg_year_list = os.listdir(cur_state)
    for year in agg_year_list:
        cur_year = os.path.join(cur_state, year)
        if not os.path.isdir(cur_year):  # Check if it's a directory
            continue
        agg_file_list = [file for file in os.listdir(cur_year) if not file.startswith('.')]  # Skip files starting with '.'
        
        for file in agg_file_list:
            cur_file = os.path.join(cur_year, file)
            try:
                with open(cur_file, "r") as data_file:
                    A = json.load(data_file)
                    for i in A["data"]["transactionData"]:
                        name = i["name"]
                        count = i["paymentInstruments"][0]["count"]
                        amount = i["paymentInstruments"][0]["amount"]
                        columns1["Transaction_type"].append(name)
                        columns1["Transaction_count"].append(count)
                        columns1["Transaction_amount"].append(amount)
                        columns1["States"].append(state)
                        columns1["Years"].append(year)
                        columns1["Quarter"].append(int(file.strip(".json")))
            except FileNotFoundError:
                print(f"File not found: {cur_file}")
            except Exception as e:
                print(f"Error processing file {cur_file}: {e}")

In [13]:
agg_transaction = pd.DataFrame(columns1)

In [14]:
agg_transaction

,States,Years,Quarter,Transaction_type,Transaction_count,Transaction_amount
0,andaman-&-nicobar-islands,2022,1,Peer-to-peer payments,342649,1.682329e+09
1,andaman-&-nicobar-islands,2022,1,Merchant payments,284298,3.700916e+08
2,andaman-&-nicobar-islands,2022,1,Recharge & bill payments,163401,7.130013e+07
3,andaman-&-nicobar-islands,2022,1,Financial Services,1757,2.869682e+06
4,andaman-&-nicobar-islands,2022,1,Others,2643,2.440322e+06
...,...,...,...,...,...,...
4309,nagaland,2018,4,Recharge & bill payments,72881,1.661551e+07
4310,nagaland,2018,4,Peer-to-peer payments,53723,3.589263e+08
4311,nagaland,2018,4,Merchant payments,10350,1.050063e+07
4312,nagaland,2018,4,Financial Services,587,2.161274e+05
4313,nagaland,2018,4,Others,1792,1.754940e+06

In [15]:
# Aggregated user

path2 = "/Users/prasanth/Desktop/ds_projects/Phonepe/pulse/data/aggregated/user/country/india/state"

agg_user_list = os.listdir(path2)

columns2 = {
    "States": [],
    "Years": [],
    "Quarter": [],
    "Brands": [],
    "Transaction_count": [],
    "Percentage": []
}

for state in agg_user_list:
    cur_state = os.path.join(path2, state) + "/"  # Add a slash to ensure correct path formatting
    if not os.path.isdir(cur_state):  # Check if it's a directory
        continue
    agg_year_list = os.listdir(cur_state)

    for year in agg_year_list:
        cur_year = os.path.join(cur_state, year) + "/"  # Add a slash to ensure correct path formatting
        if not os.path.isdir(cur_year):  # Check if it's a directory
            continue
        # Skip .DS_Store files
        agg_file_list = [file for file in os.listdir(cur_year) if not file.startswith('.')] 

        for file in agg_file_list:
            cur_file = os.path.join(cur_year, file)
            try:
                with open(cur_file, "r") as data_file:
                    B = json.load(data_file)
                    
                    try:

                        for i in B["data"]["usersByDevice"]:
                            brand = i["brand"]
                            count = i["count"]
                            percentage = i["percentage"]
                            columns2["Brands"].append(brand)
                            columns2["Transaction_count"].append(count)
                            columns2["Percentage"].append(percentage)
                            columns2["States"].append(state)
                            columns2["Years"].append(year)
                            columns2["Quarter"].append(int(file.strip(".json")))

                    except:
                        pass
                        
            except FileNotFoundError:
                print(f"File not found: {cur_file}")
            except Exception as e:
                print(f"Error processing file {cur_file}: {e}")

In [16]:
agg_user = pd.DataFrame(columns2)

In [17]:
agg_user

,States,Years,Quarter,Brands,Transaction_count,Percentage
0,andaman-&-nicobar-islands,2022,1,Vivo,18688,0.244966
1,andaman-&-nicobar-islands,2022,1,Xiaomi,17957,0.235384
2,andaman-&-nicobar-islands,2022,1,Samsung,12955,0.169817
3,andaman-&-nicobar-islands,2022,1,Realme,6769,0.088730
4,andaman-&-nicobar-islands,2022,1,Oppo,6461,0.084692
...,...,...,...,...,...,...
6727,nagaland,2018,4,Apple,1148,0.026700
6728,nagaland,2018,4,Lenovo,1024,0.023816
6729,nagaland,2018,4,Huawei,849,0.019746
6730,nagaland,2018,4,Asus,840,0.019536
6731,nagaland,2018,4,Others,6249,0.145336

In [18]:
# Map Transaction

path3 = "/Users/prasanth/Desktop/ds_projects/Phonepe/pulse/data/map/transaction/hover/country/india/state"

map_tran_list = os.listdir(path3)

columns3 = {
    "States": [],
    "Years": [],
    "Quarter": [],
    "Districts": [],
    "Transaction_count": [],
    "Transaction_amount": []
}

for state in map_tran_list:
    cur_state = os.path.join(path3, state) + "/"  # Add a slash to ensure correct path formatting
    if not os.path.isdir(cur_state):  # Check if it's a directory
        continue
    agg_year_list = os.listdir(cur_state)

    for year in agg_year_list:
        cur_year = os.path.join(cur_state, year) + "/"  # Add a slash to ensure correct path formatting
        if not os.path.isdir(cur_year):  # Check if it's a directory
            continue
        # Skip .DS_Store files
        agg_file_list = [file for file in os.listdir(cur_year) if not file.startswith('.')] 

        for file in agg_file_list:
            cur_file = os.path.join(cur_year, file)
            try:
                with open(cur_file, "r") as data_file:
                    C = json.load(data_file)
                    
                    for i in C["data"]["hoverDataList"]:
                            name = i["name"]
                            count = i["metric"][0]["count"]
                            amount = i["metric"][0]["amount"]
                            columns3["Districts"].append(name)
                            columns3["Transaction_count"].append(count)
                            columns3["Transaction_amount"].append(amount)
                            columns3["States"].append(state)
                            columns3["Years"].append(year)
                            columns3["Quarter"].append(int(file.strip(".json")))
                            
            except:
                pass

In [19]:
map_tran = pd.DataFrame(columns3)

In [20]:
map_tran

,States,Years,Quarter,Districts,Transaction_count,Transaction_amount
0,andaman-&-nicobar-islands,2022,1,north and middle andaman district,60059,1.616249e+08
1,andaman-&-nicobar-islands,2022,1,south andaman district,705512,1.872991e+09
2,andaman-&-nicobar-islands,2022,1,nicobars district,29177,9.441413e+07
3,andaman-&-nicobar-islands,2022,2,north and middle andaman district,72573,1.956932e+08
4,andaman-&-nicobar-islands,2022,2,south andaman district,954875,2.357327e+09
...,...,...,...,...,...,...
17559,nagaland,2018,4,tuensang district,5518,1.444341e+07
17560,nagaland,2018,4,peren district,2071,6.712395e+06
17561,nagaland,2018,4,dimapur district,68046,2.021721e+08
17562,nagaland,2018,4,zunheboto district,4966,1.244903e+07
17563,nagaland,2018,4,wokha district,4959,8.954847e+06

In [21]:
# Map User

path4="/Users/prasanth/Desktop/ds_projects/Phonepe/pulse/data/map/user/hover/country/india/state"

map_user_list = os.listdir(path4)

columns4 = {
    "States": [],
    "Years": [],
    "Quarter": [],
    "Districts": [],
    "RegisteredUsers": [],
    "AppOpens": []
}

for state in map_user_list:
    cur_state = os.path.join(path4, state) + "/"  # Add a slash to ensure correct path formatting
    if not os.path.isdir(cur_state):  # Check if it's a directory
        continue
    agg_year_list = os.listdir(cur_state)

    for year in agg_year_list:
        cur_year = os.path.join(cur_state, year) + "/"  # Add a slash to ensure correct path formatting
        if not os.path.isdir(cur_year):  # Check if it's a directory
            continue
        # Skip .DS_Store files
        agg_file_list = [file for file in os.listdir(cur_year) if not file.startswith('.')] 

        for file in agg_file_list:
            cur_file = os.path.join(cur_year, file)
            try:
                with open(cur_file, "r") as data_file:
                    D = json.load(data_file)
                    
                    for i in D["data"]["hoverData"].items():
                        district = i[0]
                        registeredUsers = i[1]["registeredUsers"]
                        appOpens = i[1]["appOpens"]
                        columns4["Districts"].append(district)
                        columns4["RegisteredUsers"].append(registeredUsers)
                        columns4["AppOpens"].append(appOpens)
                        columns4["States"].append(state)
                        columns4["Years"].append(year)
                        columns4["Quarter"].append(int(file.strip(".json")))
    
            except:
                pass

In [22]:
map_user = pd.DataFrame(columns4)

In [23]:
map_user

,States,Years,Quarter,Districts,RegisteredUsers,AppOpens
0,andaman-&-nicobar-islands,2022,1,north and middle andaman district,10720,904869
1,andaman-&-nicobar-islands,2022,1,south andaman district,63487,2368756
2,andaman-&-nicobar-islands,2022,1,nicobars district,2081,573782
3,andaman-&-nicobar-islands,2022,2,north and middle andaman district,11379,963824
4,andaman-&-nicobar-islands,2022,2,south andaman district,66959,3404740
...,...,...,...,...,...,...
17563,nagaland,2018,4,tuensang district,1261,0
17564,nagaland,2018,4,peren district,710,0
17565,nagaland,2018,4,dimapur district,22603,0
17566,nagaland,2018,4,zunheboto district,1099,0
17567,nagaland,2018,4,wokha district,1391,0